/* load fonts */
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

/* text styles */
.green {
    color: #8edba3;
}
.off_white{
    color: #efefef;
}
.green_bg {
    color: #8edba3;
    background-color: black;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #8edba3;
}
.no_link_decoration {
    text-decoration: none;
}
.no_link_decoration:hover {
    text-decoration: none;
}

/* div styles */
body {
    margin: 0px;
    background-color: #1e1e1e;
    font-family: 'Noto Serif', sans-serif;
    color: #efefef;
}
.nav_item {
    display: inline-block;
    margin: 0em 0.1em;
}
.nav_item:hover {
    text-decoration: underline;
    text-decoration-color: #8edba3;
}
.nav_item span {
    padding: 0.1em;
}
.nav_item:before{
    float: left;
    content: " ";
    margin-top: -0.1em;
    border-right: 0.6em solid black;
    border-bottom: 0.62em solid transparent; 
    border-top: 0.62em solid transparent;
}
.nav_item:after{
    float: right;
    content: " ";
    margin-top: -0.1em;
    border-left: 0.6em solid black;
    border-bottom: 0.62em solid transparent; 
    border-top: 0.62em solid transparent;
}
#content {
    width: 65%;
    min-height: 10em; 
    padding: 1em;
    border-top: 0.1em solid #8edba3;
    border-bottom: 0.1em solid #8edba3;
    margin: 0.2em auto 0.6em auto;
    font-size: 1.2em;
}
#footer {
    width: 65%;
    padding: 0 1em;
    margin: 0 auto 1em auto;
    font-family: 'VT323', monospace;
}
#footer a {
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
    text-decoration-color: #8edba3;
}
#footer a:before{
    float: left;
    content: " ";
    margin-top: 0.05em;
    border-right: 0.6em solid black;
    border-bottom: 0.52em solid transparent; 
    border-top: 0.52em solid transparent;
}
#footer a:after{
    float: right;
    content: " ";
    margin-top: 0.05em;
    border-left: 0.6em solid black;
    border-bottom: 0.52em solid transparent; 
    border-top: 0.52em solid transparent;
}