#header_block {
    width: 100%;
    height: 11em;
    text-align: center;
}

.header_text {
    vertical-align: middle;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 7em;
}

.nav_bar {
    width: 100%;
    font-size: 1.5em;
    font-family: 'VT323', monospace;
    margin-top: 0.5em;
}