#header_block {
    width: 65%;
    height: 4em;
    margin: 0 auto;
    display: flex;
    font-family: 'VT323', monospace;
}
.header_text {
    display: flex;
    font-size: 4em;
    margin-top: -0.07em;
    margin-right: 0.2em;
}
.nav_bar {
    display: flex;
    flex-grow: 100;
    height: 100%;
    font-size: 1.5em;
    text-align: left;
    align-items: center;
}