<!-- footer -->
<div id="footer">
    <a href="https://twitter.com/mayabyte"><span class="green_bg"><i class="fa fa-twitter"></i> Twitter</span></a>
    <a href="mailto:mayahayden@protonmail.com"><span class="green_bg"><i class="fa fa-envelope"></i> Email</span></a>
    <a><span class="green_bg"><i class="fa fa-discord-alt"></i> Discord: maya#7290</span></a>
    <a href="https://twitch.tv/mayabyte"><span class="green_bg"><i class="fa fa-twitch"></i> Twitch</span></a>
    <a href="https://retrospring.net/Maya"><span class="green_bg"><i class="fa fa-comments"></i> Retrospring</span></a>
</div>