<!-- small header div -->
<div id="header_block">
    <div class="header_text"><a href="index.html" class="no_link_decoration"><span class="off_white">maya</span><span class='green'>byte</span></a></div>
    <!-- navigation bar -->
    <div class="nav_bar">
        <a href="essay_list.html"><div class="nav_item"><span class="green_bg">Essays</span></div></a>
        <a href="project_list.html"><div class="nav_item"><span class="green_bg">Projects</span></div></a>
        <a href="musings.html"><div class="nav_item"><span class="green_bg">Musings</span></div></a>
    </div>
</div>