<html>
    <head>
        <!-- stylesheets -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/global.css"/>
        <link rel="stylesheet" type="text/css" href="../css/small_header.css"/>

        <title>mayabyte - {% block title %}{% endblock title %}</title>
    </head>
    <body>
        {% include "templates/header.html" %}

        <div id="content">
            {% block content %}{% endblock content %}
        </div>

        {% include "templates/footer.html" %}
    </body>
</html>