<html>
    <head>
        <!-- stylesheets -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/global.css"/>
        <link rel="stylesheet" type="text/css" href="../css/index_header.css" />

        <title>mayabyte</title>
    </head>
    <body>
        {% include "templates/header.html" %}

        <div id="content">
            <center>
            Hi there. This is where I'll be hosting things I write, things I make, and things I find cool.
            <br><br>
            Currently this site is under construction, so there's nothing to see yet. Check back later!
            </center>
        </div>

        {% include "templates/footer.html" %}
        
    </body>
</html>